.body{
	margin-top:50px;
	background-image: url('../images/PowerRangers_LP_v03_0004_BG.png');
}

.body-content{
	padding: 30px 0;
}

@media (min-width: 992px) {
	.body-header{
		min-height: 30vw;
		background-image: url('../images/body-header.png');
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.showToysInDesktopMode{
		display:block;
	}
	.showToysInMobileMode{
		display:none;
	}
}

@media (max-width: 992px) {
	.body-header{
		min-height: 45vw;
		background-image: url('../images/mobile-body-header.png');
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.showToysInDesktopMode{
		display:none;
	}
	.showToysInMobileMode{
		display:block;
	}
}




.powerranger {
    position: relative;
}

.powerranger .base {
   position: absolute;
   top: 0;
   left: 0;
   z-index : 0;
}

.powerranger .overlay{
   position: absolute;
   top: 0;
   left: 0;
}