@font-face {
    font-family: Exo-Regular;
    src: url(../fonts/Exo-Regular.otf);
}

@font-face {
    font-family: Exo-DemiBold;
    src: url(../fonts/Exo-SemiBold.otf);
}

@font-face {
    font-family: Exo-Bold;
    src: url(../fonts/Exo-Bold.otf);
}

@font-face {
    font-family: Exo-Light;
    src: url(../fonts/Exo-Light.otf);
}