

header{
	border-top: thick double RGBA(0,128,255,1);
	min-height: 150px;
}

.input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.body-header-image{
	width:100%;
	height: 80px;
}

.search-input {
 width: 40%;
 margin: 0 auto;
}

.bottom-half-circle{
  margin: 0 auto;
  position: relative;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  height: 100px;
  width: 200px;
  align:center;
  background: RGBA(0,128,255,1);
  background-image: url('../images/funko.png');
  background-size:200px 74px;
  background-repeat:no-repeat;
}

.dropdown-menu.open {
    position: absolute;
    display: block;
    margin-bottom: 5px;
    clear: left;
    margin-top: -30px;
    margin-left: 23px;
}
.logoContainer{
 width:100%;
}

.search-input-box{
	border: 0px ;
}
.fixHieght: {
	height:40px;
}

@media (min-width: 992px) {
	
.round-button{
	width: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 30px;
    margin: 1px;
}

}

@media (max-width: 992px) {
	
.round-button{
	width: 30px;
    border-radius: 15px;
    border-radius: 15px;
    height: 30px;
    margin: 1px;
}

}
.hyperlink{
	text-align:center;

}
.facebook{
	background-image: url('../images/facebook-logo.png');
	background-size:contain;instagram-icon
	background-repeat:no-repeat;
}
.buttonContainer{
	width:100%;
}
.glyphicon-without-border{
	border: 0px ;
	background: transparent;
}
.centerAlign{
	margin: 0 auto;
	width:70%;
}
.instagram{
	background-image: url('../images/instagram-icon.png');
	background-size:contain;
	background-repeat:no-repeat;
}
.youtube{
	background-image: url('../images/youtube.png');
	background-size:contain;
	background-repeat:no-repeat;
}

.twitter{
	background-image: url('../images/twitter.png');
	background-size:contain;
	background-repeat:no-repeat;
}
