
.retailer-view{
	padding-top: 30px;
}

@media (min-width: 992px) {
	
.retailerImages{
	width: 240px;
    height: 40px;
}
.toy-message{
		color: white;
    	text-align: center;
    	font-size: x-large;
	}
.retailerButton {
	background-color: transparent;
    width: 450px;
    padding: 8px;
    margin: 10px;
}

.retailerList{
	margin: 0 auto;
	width:70%;
}

}

@media (max-width: 992px) {
	.toy-message{
		color: white;
		font-family:Exo-Bold;
    	text-align: center;
    	font-size: medium;
    	margin: 0 10px;
	}

.retailerImages{
	width: 60%;
    height: 40px;
}
.retailerContainer{
	text-align:center;
}
.retailerButton {
	background-color: transparent;
    width: 90%;
    padding: 8px;
    margin: 10px;
}

.retailerList{
	margin: 0 auto;
	width:75%;
}
}



.retailer-view{
	width:100%;
}