.toyContainer {
    position: relative;
    height: 500px;
}

.toyContainer .base {
   position: absolute;
   top: 0;
   left: 0;
   z-index : 0;
   margin-left: 0px;
   height: 400px;
}

.toyContainer .mobile-overlay{
    position: absolute;
    top: 0;
    left: 200px;
    height:500px;
}

.toyContainer .mobile-screen-overlay{
    position: absolute;
    width: 214px;
    top: 58px;
    left: 219px;
}
.toysGrid{
	width:100%;
}


.toysImages .thumbnail{
	margin: 5px;
    background-color: transparent;
    border: 0px;
}

.m_download{
	width: 80%;
    margin: 10px auto;
    text-align: center;
	font-family: Exo-Light;
    color: red;
}

.download_button{
	width: 70%;
    border-radius: 20px;
    color: red;
    background: linear-gradient(to bottom, white,grey);
}

.toys{
	margin-top:30px;
}