.ranger-video{
	margin:30px;
	width:100%;
}

.youtube-iframe{
	width:800px;
	height: 400px;
}

.youtube-video-container{
	width:50%;
	margin: 30px auto;

}

@media (min-width: 992px) {
	
.youtube-iframe{
	width: 70%;
    align-content: center;
    margin: 0px 13%;
}

.youtube-video-container{
	width:50%;
}

}

@media (max-width: 992px) {
	
.youtube-iframe{
	width: 70%;
    align-content: center;
    margin: 0px 13%;
}
.youtube-video-container{
	width:90%;

}

}